body {
    box-sizing: border-box;
}
.title {
    background-color: blue;
    color: white;
    font-family: sans-serif, Arial;
    text-align: center;
}
.lasagna {
    background-color: red;
    color:yellow;
    font-size: 25px;
    padding-left: 150px;
    margin-bottom: 15px;
    display: block;
}
.pizza {
    background-color: yellow;
    color: red;
    font-size: 25px;
    padding-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.hamburger {
    background-color: green;
    color: brown;
    font-size: 25px;
    padding-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.lh1 {
    background-color: red;
    color: yellow;
}
.lh3 {
    background-color: lightblue;
    color: yellow;
}
.ph1 {
    background-color: red;
    color: yellow;
}
.ph3 {
    background-color: red;
    color: yellow;
}
.hh1 {
    color: brown;
    background-color: lime;
}
.hh3 {
    color: brown;
    background-color: lime;
}
.ing {
    background-color: black;
    color: red;
    font-weight: 400;
}
.steps{
    background-color: black;
    color: yellow;
    font-weight: 400;
}
.ping {
    background-color: yellow;
    color: red;
    font-weight: 400;
}
.hing {
    background-color: brown;
    color: lime;
}